<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/browse.css}"/>
    <script th:src="@{/js/browseApply.js}"}></script>
    <title>Browse Requests</title>
</head>

<body>
<div class="navbar">
    <div class="textLogo">
        <p>CovidHelp</p>
    </div>
    <div>
        <a class="logoutBtn" href="/logout">Log out</a>
    </div>
</div>
<div class="requestContainer" th:each="request : ${requestList}">
    <div class="requestHeader">
        <div class="profile">
            <img class="profilePic" th:src="@{/images/defaultUserPic.png}">
            <p class="profileName" th:text="${request.getName()}"></p>
        </div>
        <div class="requestLocation" th:text="${request.getLocation()}">
        </div>
    </div>
    <div class="requestBody">
        <div class="requesType">
            <img class="requestTypeImg" th:src="'/images/'+${request.getType().getIcon()}"/>
            <p class="requestTypeName" th:text="${request.getType().getTypeName()}"></p>
        </div>
        <div class="details">
            <p class="detailsName">Details: </p>
            <p th:text="${request.getDetails()}"></p>
        </div>
    </div>
    <div class="requestFooter">
        <div class="applyButton" th:onclick="'applyToRequest(' + ${request.getId()} + ')'">Apply</div>
        <div class="endDate" th:text="'End date: ' + ${request.getFormattedEndTime()}"></div>
    </div>
</div>
</body>
</html>