<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <title>CovidHelp Login</title>
</head>

<body>

<form action="/login" class="login-form" method="post">
    <h1>Welcome</h1>
    <p class="success" th:text="${successMessage}"></p>
    <p class="warning" th:text="${invalid}"></p>

    <div class="txtb">
        <input type="email" name="username" required autofocus>
        <span data-placeholder="Email"></span>
    </div>

    <div class="txtb">
        <input type="password" name="password" required>
        <span data-placeholder="Password"></span>
    </div>

    <input type="submit" class="logbtn" value="Log in">

    <div class="bottom-text">
        Don't have an account? <a href="/register">Sign up</a>
    </div>

</form>

<script>
    $(".txtb input").on("focus", function () {
        $(this).addClass("focus");
    });

    $(".txtb input").on("blur", function () {
        if ($(this).val() == "")
            $(this).removeClass("focus");
    });
</script>

</body>
</html>
