<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>CovidHelp Register</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>

<body>
<form th:action="@{/saveUser}" th:object="${account}" class="register-form" method="post">
    <h1>Register</h1>

    <div class="names">
        <div class="txtb fname">
            <input type="text" th:name="firstName" required>
            <span data-placeholder="First name"></span>
        </div>
        <span class="errors" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
        <div class="txtb lname">
            <input type="text" th:name="lastName" required>
            <span data-placeholder="Last name"></span>
        </div>
        <span class="errors" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    </div>

    <div class="txtb">
        <input type="email" th:name="email" required>
        <span data-placeholder="Email"></span>
    </div>
    <span class="errors" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

    <div class="txtb">
        <input type="password" th:name="password" required>
        <span data-placeholder="Password"></span>
    </div>
    <span class="errors" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

    <div class="txtb date">
        <input type="date" th:name="birthDate" required>
        <span data-placeholder="Birthdate"></span>
    </div>
    <span class="errors" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></span>

    <div class="txtb">
        <input type="text" th:name="phoneNumber" required>
        <span data-placeholder="Phone number"></span>
    </div>
    <span class="errors" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>

    <div class="txtb select">
        <select class="" th:name="county" required>
            <option value="" selected disabled hidden>County</option>
            <option value="Alba">Alba</option>
            <option value="Arad">Arad</option>
            <option value="Argeș">Argeș</option>
            <option value="Bihor">Bihor</option>
            <option value="Bistrița-Năsăud">Bistrița-Năsăud</option>
            <option value="Botoșani">Botoșani</option>
            <option value="Brașov">Brașov</option>
            <option value="Brăila">Brăila</option>
            <option value="București">București</option>
            <option value="Buzău">Buzău</option>
            <option value="Caraș-Severin">Caraș-Severin</option>
            <option value="Călărași">Călărași</option>
            <option value="Cluj">Cluj</option>
            <option value="Constanța">Constanța</option>
            <option value="Covasna">Covasna</option>
            <option value="Dâmbovița">Dâmbovița</option>
            <option value="Dolj">Dolj</option>
            <option value="Galați">Galați</option>
            <option value="Giurgiu">Giurgiu</option>
            <option value="Gorj">Gorj</option>
            <option value="Harghita">Harghita</option>
            <option value="Hunedoara">Hunedoara</option>
            <option value="Ialomița">Ialomița</option>
            <option value="Iași">Iași</option>
            <option value="Ilfov">Ilfov</option>
            <option value="Maramureș">Maramureș</option>
            <option value="Mehedinți">Mehedinți</option>
            <option value="Mureș">Mureș</option>
            <option value="Neamț">Neamț</option>
            <option value="Olt">Olt</option>
            <option value="Prahova">Prahova</option>
            <option value="Satu-Mare">Satu-Mare</option>
            <option value="Sălaj">Sălaj</option>
            <option value="Sibiu">Sibiu</option>
            <option value="Suceava">Suceava</option>
            <option value="Teleorman">Teleorman</option>
            <option value="Timiș">Timiș</option>
            <option value="Tulcea">Tulcea</option>
            <option value="Vaslui">Vaslui</option>
            <option value="Vâlcea">Vâlcea</option>
            <option value="Vrancea">Vrancea</option>
        </select>
        <span data-placeholder="County"></span>
    </div>
    <span class="errors" th:if="${#fields.hasErrors('county')}" th:errors="*{county}"></span>

    <div class="txtb">
        <input type="text" th:name="city" required>
        <span data-placeholder="City"></span>
    </div>
    <span class="errors" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>

    <div class="txtb">
        <input type="text" th:name="street" required>
        <span data-placeholder="Street"></span>
    </div>
    <span class="errors" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></span>

    <div class="txtb select">
        <select class="" th:name="role" required>
            <option value="" disabled selected hidden>Account type</option>
            <option value="ROLE_VOLUNTEER">Volunteer</option>
            <option value="ROLE_REQUESTER">Requester</option>
        </select>
        <span data-placeholder="Account type"></span>
    </div>
    <span class="errors" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></span>
<!--    <span class="errors" th:if="${#fields.hasErrors('profileImage')}" th:errors="*{profileImage}"></span>-->
<!--    <span class="errors" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>-->

    <input type="submit" class="regbtn" value="Register">
</form>

<script type="text/javascript">
    $(".txtb input").on("focus", function() {
        $(this).addClass("focus");
    });

    $(".txtb input").on("blur", function() {
        if ($(this).val() == "")
            $(this).removeClass("focus");
    });

    $(".txtb select").on("focus", function() {
        $(this).addClass("focus");
    });

    $(".txtb select").on("blur", function() {
        if ($(this).val() == "")
            $(this).removeClass("focus");
    });
</script>


</body>

</html>