<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/css/req.css"/>
</head>
<body>

<h2>Register user</h2>

<form action="#" th:action="@{/saveUser}" th:object="${account}" method="post">
    <table border="2" width=95%>
        <tr>
            <th width="30%"><label>Field</label></th>
            <th><label>Data</label></th>
        </tr>
        <tr>
            <td><label>First name</label></td>
            <td><input type="text" th:name="firstName" th:id="firstName">
                <span class="errors" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span></td>
        </tr>
        <tr>
            <td><label>Last name</label></td>
            <td><input type="text" th:name="lastName" th:id="lastName">
                <span class="errors" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="email" th:name="email" th:id="email">
                <span class="errors" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span></td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td><input type="password" th:name="password" th:id="password">
                <span class="errors" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span></td>
        </tr>
        <tr>
            <td><label>Phone number</label></td>
            <td><input type="text" th:name="phoneNumber" th:id="phoneNumber">
                <span class="errors" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span></td>
        </tr>
        <tr>
            <td><label>Birthday</label></td>
            <td><input type="date" th:name="birthDate" th:id="birthDate">
                <span class="errors" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></span></td>
        </tr>
        <tr>
            <td><label>Country</label></td>
            <td><select th:name="county">
                <option disabled selected value> -- select an option -- </option>
                <option th:text="Alba"></option>
                <option th:text="Arad"></option>
                <option th:text="Argeș"></option>
                <option th:text="Bacău"></option>
                <option th:text="Bihor"></option>
                <option th:text="Bistrița-Năsăud"></option>
                <option th:text="Botoșani"></option>
                <option th:text="Brașov"></option>
                <option th:text="Brăila"></option>
                <option th:text="București"></option>
                <option th:text="Buzău"></option>
                <option th:text="Caraș-Severin"></option>
                <option th:text="Călărași"></option>
                <option th:text="Cluj"></option>
                <option th:text="Constanța"></option>
                <option th:text="Covasna"></option>
                <option th:text="Dâmbovița"></option>
                <option th:text="Dolj"></option>
                <option th:text="Galați"></option>
                <option th:text="Giurgiu"></option>
                <option th:text="Gorj"></option>
                <option th:text="Harghita"></option>
                <option th:text="Hunedoara"></option>
                <option th:text="Ialomița"></option>
                <option th:text="Iași"></option>
                <option th:text="Ilfov"></option>
                <option th:text="Maramureș"></option>
                <option th:text="Mehedinți"></option>
                <option th:text="Mureș"></option>
                <option th:text="Neamț"></option>
                <option th:text="Olt"></option>
                <option th:text="Prahova"></option>
                <option th:text="Satu-Mare"></option>
                <option th:text="Sălaj"></option>
                <option th:text="Sibiu"></option>
                <option th:text="Suceava"></option>
                <option th:text="Teleorman"></option>
                <option th:text="Timiș"></option>
                <option th:text="Tulcea"></option>
                <option th:text="Vaslui"></option>
                <option th:text="Vâlcea"></option>
                <option th:text="Vrancea"></option>
            </select><span class="errors" th:if="${#fields.hasErrors('county')}" th:errors="*{county}"></span>
            </td>
        </tr>
        <tr>
            <td><label>City</label></td>
            <td><input type="text" th:name="city" th:id="city">
                <span class="errors" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span></td>
        </tr>
        <tr>
            <td><label>Address</label></td>
            <td><input type="text" th:name="address" th:id="address">
                <span class="errors" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span></td>
        </tr>
        <tr>
            <td><label>Street</label></td>
            <td><input type="text" th:name="street" th:id="street">
                <span class="errors" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></span></td>
        </tr>
        <tr>
            <td><label>Profile image</label></td>
            <td><input type="text" th:name="profileImage" th:id="profileImage">
                <span class="errors" th:if="${#fields.hasErrors('profileImage')}" th:errors="*{profileImage}"></span></td>
        </tr>
        <tr>
            <td><label>Role</label></td>
            <td><select th:name="role" th:id="role">
                <option disabled selected value> -- select an option -- </option>
                <option th:text="ROLE_REQUESTER"></option>
                <option th:text="ROLE_VOLUNTEER"></option>
            </select><span class="errors" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></span></td>
        </tr>
    </table>
    <input type="submit" class="edit" value="Submit">
</form>

<form action="/" method="get">
    <input type="submit" class="edit" value="Homepage">
</form>

</body>
</html>